<div class="rotatingGallery-parentContainer">
    <div class="rotatingGallery">
      <div class="rotatingGallery-slides">
        <div class="rotatingGallery-slide" data-arrival-index="1">
          <img class="rotatingGallery-image" alt="" src="https://images.unsplash.com/photo-1454560291000-ccdbe42e5d49?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6caa8494962eae5c9907c305cd07d39c&auto=format&fit=crop&w=1951&q=80g" title="">
  
          <h2 class="rotatingGallery-text">
            Slider text
          </h2>
  
          <p class="rotatingGallery-text">
            This is a description for the current slide
          </p>
        </div>
  
        <div class="rotatingGallery-slide" data-arrival-index="2">
          <img class="rotatingGallery-image" alt="" src="https://images.unsplash.com/photo-1532543124323-1a08378c9269?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=505d5f3d96b16fd5cc4d80e4cfede5c2&auto=format&fit=crop&w=1950&q=80">
  
          <h2 class="rotatingGallery-text">
            Slider text
          </h2>
  
          <p class="rotatingGallery-text">
            This is a description for the current slide
          </p>
        </div>
  
        <div class="rotatingGallery-slide" data-arrival-index="3">
          <img class="rotatingGallery-image" alt="" src="https://images.unsplash.com/photo-1532649842991-60f6a04df35d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f5743e76fc0b2996117989feb63f5dbc&auto=format&fit=crop&w=1950&q=80">
  
          <h2 class="rotatingGallery-text">
            Slider text
          </h2>
  
          <p class="rotatingGallery-text">
            This is a description for the current slide
          </p>
        </div>
  
        <div class="rotatingGallery-slide" data-arrival-index="4">
          <img class="rotatingGallery-image" alt="" src="https://images.unsplash.com/photo-1517124681846-aec5433e045a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=51a30358fd986fe2ddd1bbca2026a62a&auto=format&fit=crop&w=1594&q=80">
  
          <h2 class="rotatingGallery-text">
            Slider text
          </h2>
  
          <p class="rotatingGallery-text">
            This is a description for the current slide
          </p>
        </div>
  
        <div class="rotatingGallery-slide" data-arrival-index="5">
          <img class="rotatingGallery-image" alt="" src="https://images.unsplash.com/photo-1457733110156-507455d4421c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=458851d5c4245d14fc5a0b096b55d8c5&auto=format&fit=crop&w=1950&q=80">
  
          <h2 class="rotatingGallery-text">
            Slider text
          </h2>
  
          <p class="rotatingGallery-text">
            This is a description for the current slide
          </p>
        </div>
  
        <div class="rotatingGallery-slide" data-arrival-index="6">
          <img class="rotatingGallery-image" alt="" src="https://images.unsplash.com/photo-1507273206384-05f90e2da072?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c40c01b019b8146fe92c90c5d95cf72c&auto=format&fit=crop&w=1950&q=80">
  
          <h2 class="rotatingGallery-text">
            Slider text
          </h2>
  
          <p class="rotatingGallery-text">
            This is a description for the current slide
          </p>
        </div>
  
        <div class="rotatingGallery-slide" data-arrival-index="7">
          <img class="rotatingGallery-image" alt="" src="https://images.unsplash.com/photo-1512485081229-6766c3631d7e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=475bf75cb64f4daed1fa49dd62dd251f&auto=format&fit=crop&w=1954&q=80">
  
          <h2 class="rotatingGallery-text">
            Slider text
          </h2>
  
          <p class="rotatingGallery-text">
            This is a description for the current slide
          </p>
        </div>
  
        <div class="rotatingGallery-slide" data-arrival-index="8">
          <img class="rotatingGallery-image" alt="" src="https://images.unsplash.com/photo-1517331671191-ddc2c6d3ebd1?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2ff59f4e6def2095a0d1f5f51fb08ba5&auto=format&fit=crop&w=1942&q=80">
  
          <h2 class="rotatingGallery-text">
            Slider text
          </h2>
  
          <p class="rotatingGallery-text">
            This is a description for the current slide
          </p>
        </div>
      </div>
    </div>
  </div>
  
   